[submodule "Thread_network_devices/thread-br"]
	path = Thread_network_devices/thread-br
	url = https://github.com/RobNR1458/Thread_BR.git

[submodule "AWS_Deployment"]
	path = AWS_Deployment
	url = https://github.com/RobNR1458/AWS_Deployment.git
